@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo styling */
.nav-logo {
  @apply flex items-center;
}

.nav-logo-text {
  @apply flex text-[40px] uppercase;
}

.nav-logo-j {
  @apply text-white;
}

.nav-logo-oakes {
  @apply text-neutral-300;
}

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
